<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">



    <!-- js -->
    <script src="{{ url_for('static', filename='js/all.js') }}"> </script>

</head>
<body>
    <div class="contain">
        <h1 id="h1_id">제목</h1>
        <!-- <input type="button" value="일일 뉴스 요약" id="dailyNews" class="button_style" name="dailyNewsSummarize"><br> -->
        
        <form action="/summarize" method="POST">
            <button type="submit" value="요약" id="summarize" class="button_style" name="summarize" onclick="summary()">요약하기</button>
        </form>
        


    </div>
</body>
</html>