<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/summary.css') }}">

    <!-- js -->
    <script src="https://d3js.org/d3.v5.js"></script>

    <script>
        function test() {
            LoadingWithMask();
            setTimeout("closeLoadingWithMask()", 4000);
        }
        
        function LoadingWithMask() {
            //화면 높이와 너비
            var maskHeight = $(document).height();
            var maskWidth  = window.document.body.clientWidth;
            
            //화면에 출력할 마스크를 설정
            var mask       ="<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'></div>";
            var loadingImg= jQuery('#loadingImg').attr("src");
        
            //화면에 레이어 추가
            $('body')
                .append(mask)
        
            //마스크로 전체 화면을 채우기
            $('#mask').css({
                    'width' : maskWidth,
                    'height': maskHeight,
                    'opacity' :'0.3'
            });
        
            //마스크 표시
            $('#mask').show();
        
            //로딩중 이미지 표시
            $('#loadingImg').append(loadingImg);
            $('#loadingImg').show();
        }
        
        function closeLoadingWithMask() {
            $('#mask, #loadingImg').hide();
            $('#mask, #loadingImg').empty(); 
        }

    </script>


    <!-- ajax -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>

    function printText(){
        
        $('#summarize_button').click(function(){
            
            var summarize_texts = $("#summarize_textarea").val();
            $ ajax({
                url: '/summarize_form',
                data : summarize_texts,
                type:'post'
                
            });

        });
    
         
    }
        
    </script>

</head>
<body>
    <div class="contentsWrap">
        <div class="summary_contents1">
            <h1 id="h1_id"><a href="/">Summarize</a></h1>
            
        </div>
        <div class="summary_contents2">
            <form action="/summarize_form" method="post" >
                <textarea autofocus name="summarize_textarea" id="summarize_textarea" placeholder="" ></textarea>
               <div class="buttons_wrap"> 
                   <input type="submit" value="요약하기"class=" button_style" id="summarize_button" onclick="test()" >
                </div>
            </form>

            

            <div class="summarize_text_content">
                <div class="summarize_text">
                    
                    <p>요약 </p>
                    <hr>
                    {{text_summarize}}
                    <br>
                    <br>
                    <span>카테고리 :</span> {{categorizer}}
    
        
                </div>
                <div class="summarize_text">
    
                    <p>원문 </p> 
                    <hr>
                    {{summarize_textarea}}
        
                </div>

            </div>
        </div>

        <div>
            <!-- <div id="mask"></div> -->
            <div id="loadingImg">
                <img src="{{ url_for('static', filename='img/Spin-2s-200px.gif') }}" alt="Loading..."/>
            </div>
            
            
        </div>  


        



        
    </div>
</body>
</html>